.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    justify-content: center;
}
.left {
    display: flex;
    flex-flow: column wrap;
    height: auto;
    width: 20%;
    padding-left: 2px;
    padding-right: 1px;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 900;
    background-color:darkgrey;
}
.lefttitle {
    display: flex;
    padding-left: 10px;
    height: 70px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    align-items: center;
}
.leftbutton {
    display: flex;
    padding-left: 10px;
    height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: black;
    align-items: center;
}
    .leftbutton:hover {
        color: darkgray;
        background-color: black;
    }
    .leftbutton:active {
        color: red;
        background-color: lightgray;
    }
.leftsearchbar {
        display: flex;
        padding-left: 10px;
        height: 50px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 100;
        color: lightgray;
        background-color: white;
        align-items: center;
    }

.section {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
    flex-flow: column wrap;
    background-color: lightgray;
}
h1 {
    font-family: sans-serif;
    font-size: 32px;
}
p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
}
