.container {
    display: flex;
    flex-flow: column nowrap;    
    width: 100%;
    align-items: center;
    background-color:lightgray;
}
.nav {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
    color: #DDDDDD;
    height: 50px;
    width: 80%;
}
.navbutton {
    display: flex;
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 900;
}
    .navbutton:hover {
        color: #333333;
        background-color: #DDDDDD;
    }
    .navbutton:active {
        color: white;
        background-color: #74FBFD;
    }
.section {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    flex-flow: column wrap;
    background-color: white;
}
h1 {
    font-family: sans-serif;
    font-size: 32px;
}
p {
    font-family: sans-serif;
    font-size: 20px;
}
